#cs1300-gallery {
  background-color: palegoldenrod;
}

.gallery-item-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

.gallery-item{
  width: 100px;
  height: auto;
}