#cs1300-gallery {
  background-color: palegoldenrod;
}

.gallery-item-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  justify-content: center;
  justify-content: space-around;

}

.gallery-item{
  display: flex;
  width: 100 px;
}